<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
  </head>
  <body ng-controller="PhoneListController">
    <ul >
	  <li ng-repeat="phone in phones">
		<span>{{phone.name}}</span>
		<p>
		  {{phone.snippet}}
		</p>
	  </li>
	</ul>
  </body>
</html>
